:root {
    --primary-color: #53c8dc ;
    --secondary-color:#ff4f28;
    --terciary-color:#ffffff ;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: bold;
}

body {
    background-color: var(--primary-color);

}

#reloj {
    display: flex;
    flex-direction: column;
}



.navidad-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6rem;
    align-items: center;
}

.navidad-card {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.navidad-tittle h1 {
    text-align: center;
    color: var(--secondary-color);
}

.navidad-content {
    display: flex;
    justify-content: center;
}

.navidad-box {
    margin: 2rem;
}

.indicador{
    font-weight: bold;
    color: var(--terciary-color);
}

.navidad-content{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navidad-box-content {
    width: 80px;
    height: 60px;
    border: 5px solid var(--terciary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: transparent;
}

.navidad-box p {
    color: var(--terciary-color);
    font-size: 20px;
    font-weight: bold;
}

.navidad-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--terciary-color);
}

.navidad-btn {
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    border: none;
    cursor: pointer;
    transition: all .3s steps();
    margin: 0 10px;
    border-radius: 20px;
}

.navidad-btn:hover {
    background: radial-gradient(circle at center, var(--secondary-color) , #f56c4e );
}



.navidad-img {
    width: 600px;
    height: 600px;

}

.papaNoelOnfOff {
    width: 120%;
    height: 100%; 
    align-items: center;
    justify-content: center;
    background-image: url('../src/img/papaNoel.png');
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: 20;
}

.papaNoelOnfOff.on {
    background-image: url('../src/img/papaNoel.gif');
}

