* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    
}

body {
    background-color: rgba(83, 200, 220) 

}

#reloj {
    display: flex;
    flex-direction: column;
}



.navidad-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6rem;
    align-items: center;
}

.navidad-card {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.navidad-tittle h1 {
    text-align: center;
    color: #F6FB7A;
}

.navidad-content {
    display: flex;
    justify-content: center;
}

.navidad-box {
    margin: 2rem;
}

.indicador{
    font-weight: bold;
    color: white;
}

.navidad-content{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navidad-box-content {
    width: 80px;
    height: 80px;
    border: 5px solid #050C9C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    background-color: #3572EF;
}

.navidad-box-content p {
    color: #fff;
    font-size: 20px;
}

.navidad-buttons {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255) 
}

.navidad-btn {
    padding: 1rem 2rem;
    background-color: #B4E380;
    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
    margin-left: 2rem;
    border-radius: 20px;
    border: 1px solid #17153B;


}

.navidad-btn:hover {
    background-color: #433D8B;
    border: 1px solid #433D8B;
    color: #fff;
    transform: translateY(-5%);

}



.navidad-img {
    width: 600px;
    height: 600px;

}

.papaNoelOnfOff {
    width: 120%;
    height: 100%; 
    align-items: center;
    justify-content: center;
    background-image: url('../src/img/papaNoel.png');
    background-size: cover; 
    background-repeat: no-repeat;
    z-index: 20;
}

.papaNoelOnfOff.on {
    background-image: url('../src/img/papaNoel.gif');
}

